/* ANIMATIONS */

@-webkit-keyframes menuIn {
  from {
    opacity: 0;
    transform: scale(2);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes shrink {
  from {
    // opacity: 1;
    transform: scale(1);
  }
  to {
    // opacity: 0;
    transform: scale(0);
  }
}

/* FONTS */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

// @font-face {
//   src: url('../../fonts/Montserrat__.ttf');
//   font-family: Montserrat;
//   font-weight: Regular;
// }

/* ============================= VARIABLES ============================= */


$dark: #111;
$dark-opac: #2d2d2d;
$light: #f2f2f2;
$light-opac: rgba(242, 242, 242, 0.8);
$main-color: #FF2851;
$font-stack: 'Montserrat', sans-serif;


/* ============================= MIXINS ============================= */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

/* ============================= TAXONOMY ============================= */

html {
  text-rendering: optimizeLegibility;
}

body {
  color: $dark;
  font-family: $font-stack;
  background: $dark-opac;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    margin: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  text-overflow: ellipsis;
  outline: none;
}

img {
  max-width: 100%;
}

/* ============================= HEADER ============================= */

header {
  width: 100%;
  height: auto;
  position: relative;
  display: inline-block;
  background: $dark;
  color: $light;
  border-bottom: 1px solid $dark-opac;
  z-index: 99;

  .brand {
    width: auto;
    float: left;
    padding: 10px;
    border-right: 1px solid $dark-opac;
  }
}
.menu-icon {
  display: none;
  float: right;
  padding: 12.5px;
  cursor: pointer;
  border-left: 1px solid $dark-opac;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}
nav {
    float: right;
    display: inline-block;
    font-size: 23px;
    .exit-btn {
      display: none;
    }
  ul {
    li {
      float: left;
      padding: 11px;
      font-size: 17px;
      border-left: 1px solid $dark-opac;
    }
  }
}

/* ============================= CONTENT ============================= */

.hero {

}

section {
  width: 100%;
  display: inline-block;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

article, .content {

}

.card {
  width: 100%;
  margin: 0 auto;
  background: $dark;
  color: $light;
  border: 1px solid $dark-opac;
  border-radius: 4px;
  padding: 10px;
}

.btn {
  display: block;
  width: auto;
  height: auto;
  padding: 15px 18px;
  border: 0;
  font-family: inherit;
  font-size: 15px;
  text-transform: uppercase;
  margin: 10px auto;
  cursor: pointer;
  @include border-radius(5px);
}

.btn-dark {
  @extend .btn;
  background: $dark;
  color: $light;
}

.btn-light {
  @extend .btn;
  background: $light-opac;
  color: $dark;
}

/* ============================= FOOTER ============================= */

footer {
  width: 100%;
  height: auto;
  display: inline-block;
  padding: 10px;
  background: $dark;
  color: $light;

.copy {
    text-align: center;
    font-size: small;
    color:$light-opac;
    width: 100%;
    padding: 3px;
  }
}

/* ============================= GRID ============================= */

.row {
    display: table;
    width: 100%;

    .grid-1 {
      float: left;
      width: 100%;
    }
    .grid-2 {
      float: left;
      width: 50%;
    }
    .grid-3 {
      float: left;
      width: 33.3%;
    }
    .grid-4 {
      float: left;
      width: 25%;
    }
    .grid-5 {
      float: left;
      width: 20%;
    }
    .grid-6 {
      float: left;
      width: 16.6%;
    }
}

/* ============================= MOBILE ============================= */

@media screen and (max-width: 700px) {
  .menu-icon {
    display: block;
  }
  i {
    display: inline-block;
  }
  body {
    height: 100vh;
  }
  header {
    font-size: 23px;
    top:0;
    min-height: 54px;
    display: block;
  }
  div .content {
    padding: 20px;
  }
  footer {
    bottom:0;
  }
  .menuIn {
    display: block;
    opacity: 1 !important;
    transform: scale(1) !important;
    animation: menuIn 0.38s cubic-bezier(0.52, 0.07, 0.12, 1.40) 1;
    // animation-delay: 0.1s;
  }
  .shrink {
    animation: shrink .25s cubic-bezier(0.49, -0.6, 0.96, 0.54) 1;
    // opacity: 0 !important;
    transform: scale(0) !important;
  }
  nav {
    display: none;
    transform: scale(2);
    opacity: 0;
    width: 100%;
    max-height: 100vh;
    overflow-y: auto;
    font-size: 13px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99;
    color: $light;
    background: rgba(14,14,14,0.9);
    border-bottom: 1px solid $dark-opac;
    .exit-btn {
      display: block;
      width: 100%;
      font-size: 47px;
      position: relative;
      bottom: 0;
      cursor: pointer;
      z-index: 99;
      background: transparent;
      color: $light-opac;
      text-align: center;
      padding: 10px;
    }
    .menu-set {
      width: 100%;
    }
    ul {
      li {
        float: none;
        width: 100%;
        padding: 20px;
        padding-left: 30px;
        margin: 0 auto;
        cursor: pointer;
        border-bottom: 1px solid $dark-opac;
      }
      li:hover {
        background: $light;
        color: $dark-opac;
      }
    }
  }
  .mobile-hero {
    display: flex;
    display: -webkit-flex;
    height: 200px;
    padding: 20px;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    .mobile-hero-img {
      position: absolute;
      height: 200px;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 100%;
      z-index: -1;
    }
    .mobile-hero-header {
      color: $light;
      text-align: center;
      display: block;
      align-content: center;
      height: auto;
      margin: auto;
      text-transform: uppercase;
    }
  }
}
